.card-main{
    height:52vh;
    width:88vw;
    margin-left: 6vw;
    background-color:transparent;
    border:2px solid red;
    padding:0;    
    margin-bottom: 2.5vh;
}

.cardtop{
    height:15vh;
    width:100%;    
    font-size: 5.6vw;
    color:red;     
    margin-top:0;
    margin-bottom:1.5vh;
}
.cardtop h1{
    margin-top:0;    
    margin-left:2vw;
    font-family: xx;
    font-weight: 750;
}
    .cardmid{
        font-size: 1.225vh;
        height:25vh;
        width:100%;       
        color:red;
        font-family: xx;
    font-weight: 500;
    }
.cardmid h2{
    margin-left:2vw;
}
.cardbottom{
    height:11vh;
    width:96%;    
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-left:2%;
    color:red;
}
.cardbottom h1{
    font-size: 2.5vh;
    font-family: xx;
    font-weight: 700;
}
.cardbottom button{
    height:6.2vh;
    border-radius:10px;
    width:45vw;
    font-size:2.4vh;
    background-color: red;
    color:#1d1d1d;
    font-family: xx;
    font-weight: 500;
}


